footer.section.footer-classic
	.footer-body
		.container
			.row.justify-content-xl-between.row-40.justify-content-lg-center
				.col-lg-6
					.row.row-20
						.col-sm-4.col-6.wow.fadeInUp(data-wow-delay=".1s")
							.footer-title Who We Are
							ul.nav-list
								li: a(href="about-us.html") About Us
								li: a(href="ministries.html") Ministries
								li: a(href="events.html") Events
								li: a(href="contacts.html") Contacts
						.col-sm-4.col-6.wow.fadeInUp(data-wow-delay=".2s")
							.footer-title Info
							ul.nav-list
								li: a(href="#") Pastors
								li: a(href="#") Careers
								li: a(href="#") Community
								li: a(href="#") Blog
								li: a(href="#") Gallery
						.col-sm-4.col-6.wow.fadeInUp(data-wow-delay=".3s")
							.footer-title Help
							ul.nav-list
								li: a(href="#") Donate Now
								li: a(href="#") FAQ
								li: a(href="privacy-policy.html") Privacy Policy
				.col-lg-5.inset-right-100.wow.fadeInRight(data-wow-delay=".3s")
					.footer-title Contact us
					ul.contact-list
						li 178 West 27th Street New York, NY 10012 Questions? Please write us at:
							a.link-secondary(href="mailto:#") info@demolink.org
						li
							span Call us:
							a.phone(href="tel:#") +1 705 55 50 000
					ul.social-list
						li: a(href="#"): span.icon.fa.fa-youtube-play
						li: a(href="#"): span.icon.fa.fa-twitter
						li: a(href="#"): span.icon.fa.fa-facebook-f
						li: a(href="#"): span.icon.fa.fa-rss
	.footer-aside
		.container
			.row.row-xl-40
				.col-12.wow.fadeInUp(data-wow-delay=".2s")
					p Rise Church is a Family of Faith that is committed to Bible teaching and joyful worship. Children, youth and adults of all ages are ministered to and given opportunities to serve the Lord by serving others. You are invited to join us and experience what it is like to be a part of the family. We have much to offer you. Rise is a state Church where each person is made to feel welcomed and wanted. We take seriously our mission statement, which is "To Know Jesus and make Him known; To Follow the Leadership of the Holy Spirit; and to Take God's Word to God's World."
				.col-12.wow.fadeInUp(data-wow-delay=".4s")
					+rights
