-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Roboto:400,500%7CIbarra+Real+Nova:400,600,600i,700",
		logo = {
			default: 'logo-default-189x54.png',
			inverse: 'logo-default-189x54.png',
			name: 'Rise'
		},
		links = {
			post: 'blog-post.html',
			getTemplate:'#get-template'
		},
		colors = {
			primary: '#b6c062'
		},
		menu = [
			{
				title: 'Home',
				link: 'index.html'
			},
			{
				title: 'About Us'
			},
			{
				title: 'Ministries'
			},
			{
			title: 'Events',
				dropdown: [
					{
						title: 'Single Event'
					}
				] 
			},
			{
				title: 'Contacts'
			}
		],

		// Predefined variables
		breadcrumbs = [],
		pageName = 'Home'
